{% extends 'core/base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
<style>
        h1 {
            color: white;
        }
    </style>
</head>
<body>
<div class="container">
    <h1 class="my-4">Investment Portfolio Information</h1>
    {% if errors %}
        <div class="text-danger">{{ errors.error }}</div>
    {% endif %}
     <form method="post" action="{% url 'investment_portfolio_view' %}">
            {% csrf_token %}
            <label for="portfolio_name" style="color: white">Enter name:</label>
            <input type="text" name="portfolio_name">
            <button type="submit" class="btn btn-primary">Create investment portfolio</button>
        </form>
    <div class="row">
        {% for portfolio in portfolios %}
            <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">{{ portfolio.name }}</h5>
                        <form method="post" action="{% url 'sell_all_stocks' %}">
                        {% csrf_token %}
                            <input type="hidden" name="portfolio-name" value="{{ portfolio.name }}">
                            {% for stock in portfolio.stocks %}
                                <p class="card-text">
                                    Stock Name: {{ stock.name }}<br>
                                    Rate: {{ stock.rate }}<br>
                                    Count: {{ stock.count }}<br>
                                    Profit: {{ stock.profit }}
                                </p>
                            {% endfor %}
                                <button type="submit" class="btn btn-primary">Sell all</button>
                        </form>
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
{% endblock %}
