{% extends 'core/base.html' %}
{% block content %}



<div class="col-md-8 mx-auto bg-dark">
<div class="container d-flex align-items-center justify-content-center" style="padding-top: 15px; margin-top: 220px">
    <table class="table table-striped table-bordered table-hover">
  <thead>
    <tr class="table" style="background-color: #242424; color: white">
      <th>Average check over the past month</th>
      <th>Average income for the last month</th>
      <th>Median income for the last month</th>
      <th>Average income for the last year</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table" style="background-color: rgb(0,139,127); color: white">
      <td>{{ average_amount_last_month }}</td>
      <td>{{ average_income_last_month }}</td>
      <td>{{ median_income_last_month }}</td>
      <td>{{ average_income_last_year }}</td>
    </tr>
  </tbody>
</table>
</div>
</div>
{% endblock %}