{% extends "core/base.html" %}

{% block content %}
<html lang="en">
<head>
    <title>Credit Pay Entities</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <!-- Assuming 'entities' is a list of CreditPayEntity objects -->
        {% for entity in entities %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Entity {{ entity.pk }}</h5>
                <p class="card-text">
                    Amount: {{ entity.amount }}<br>
                    Interest Rate: {{ entity.interest_rate }}<br>
                    Term (months): {{ entity.term_month }}<br>
                    Currency: {{ entity.currency }}<br>
                    Available Cash: {{ entity.available_cash }}
                </p>
                <form action={% url 'user_credit_list' %} method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="number" step="0.01" min="0" max="{{ entity.available_cash }}" class="form-control" name="inputField" placeholder="Enter amount">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
{% endblock %}