{% extends 'core/base.html' %}

{% block content %}
{% if qr_code %}
    <div class="col-md-4 mx-auto bg-dark">
<div class="container d-flex align-items-center justify-content-center" style="padding-top: 15px; margin-top: 15px;">
    <div class="qr-code-container text-center mb-3 justify-content-center">
        <img src="data:image/png;base64,{{ qr_code }}" alt="QR Code">
    </div>
</div>
<div class="container d-flex align-items-center justify-content-center">
    <form class="verification" method="post" action="{% url 'two_factor_auth_qrcode' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="verification_code" style="color: white;">Verification Code:</label>
            <input type="text" name="verification_code" class="form-control" placeholder="123456">
            {% if errors %}
            <div class="text-danger">{{ errors.verification_code }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            <input type="submit" value="Verify" class="btn btn-primary" style="width: 400px;">
        </div>
    </form>
</div>
        </div>
{% endif %}
{% endblock %}