.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.qr-code-container {
  margin-bottom: 20px;
}

.verification {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.verification label {
  margin-bottom: 10px;
}
